body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.thumbnail img{


}


.search-form{
	padding-top: 4px;
}

.thumbnail .description{
	color: #000;

}

.price{
	font-weight: bold;
	font-size: 16px;
}